<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="MunsterJoinery-Suite">

    <test name="MunsterJoinery-Tests">
        <classes>
           <class name="tests.TC01_LoginValidTest"/>
            <class name="tests.TC02_LoginInvalidTest"/>
            <class name="tests.TC03_ForgottenAccountTest"/>
            <class name="tests.TC04_SearchByNameTest"/>
            <class name="tests.TC05_SearchByPostCodeTest"/>
            <class name="tests.TC06_SearchByFittingNoTest"/>
            <class name="tests.TC07_SearchByOrderNoTest"/>
            <class name="tests.TC08_SearchByServiceNoTest"/>
            <class name="tests.TC09_SearchByBuilderAfterCareIdTest"/>
            <class name="tests.TC10_SearchByPhoneTest"/>
            <class name="tests.TC11_SearchByEmailTest"/>
            <class name="tests.TC12_SearchByQuoteIdTest"/> 
            <class name="tests.TC13_ClearFieldsTest"/>
            <class name="tests.TC14_SearchByNameAndPostCodeTest"/>
            <class name="tests.TC15_SearchByMultipleFieldsTest"/>
            <class name="tests.TC16_ResultsTableTest"/>
            <class name="tests.TC17_SelectRecordTest"/>
            <class name="tests.TC18_NoRecordsFoundTest"/>
            <class name="tests.TC19_SessionPersistenceTest"/>
        </classes>
    </test>

</suite>
